<div class="center">
    <form #adviceForm="ngForm" (ngSubmit)="submitAdvice(adviceForm.form);">
        <mat-form-field>
            <input matInput type="text" class="form-control" name="term" ngModel #nameField="ngModel" required
                minlength="3">
        </mat-form-field>
        <button mat-raised-button color="primary">Find advice</button>
        <mat-error *ngIf="nameField.touched && nameField.errors">Term should contain at least 3 letters</mat-error>
    </form>
</div>

<div id="cards-container">
    <mat-card *ngFor="let text of advices" class="advice">
        <mat-card-content>
            <p [className]="badAnswer ? 'no-advice': ''">
                {{text}}
            </p>
        </mat-card-content>
    </mat-card>
</div>